/* Styles the body
   It contains a picture */
body {
	background-color: #D6EAF8;
	background-image: url(/pictures/Kakashi_Test.jpg);
	padding: 275px;
	background-size: 400px 400px;
	background-position: left center;
	background-repeat: no-repeat;
}

/* Highlights text parts and defines text color */
mark {
	background-color: #5499C7;
	color: black;
}

/* Centers the form element */
form {
	text-align: center;
}

/* Styles the text and places it in the center */
.text {
	text-align: center;
	font-family: 'Courier New', monospace;
	color: black;
	font-size: 20px;
	position: absolute;
	width: 400px;
	height: 100px;
	top: 22%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
}

/* Styles the button */
button {
	background-color: #17202A;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}