/* Styles the body */
body {
	background-color: red;
}

/* Styles the heading */
h1 {
	font-family: Impact;
	color: white;
	font-size: 60px;
}

/* Styles the button */
button {
	background-color: #17202A;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}