<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/Stylesheet-Characters.css">
<div class="slideshow-container">
<title>Charaktere</title>
	<head>
	
	<!-- Displays audio control -->
<audio controls>
	<source src="/mp3/Childhood_Memories.mp3" type="audio/mpeg">
</audio>
<br>

	<!-- Displays text under audio which is the songs title -->
<textmp>&#9834; Naruto Soundtrack - Childhood Memories</textmp>
<br>
<br>
	</head>
	<body>
		<h1>Kurze Charakter Übersicht</h1>
		
			<!-- Displays first slide of slideshow  -->
		<div class="charSlides fade">
			<h2>&#10023; Boruto Uzumaki &#10023;</h2>
			<div class="numbertext">Seite 1 / 5</div>
			<img src="/pictures/Boruto_Icon.jpg"> <br> <br>
			
				<!-- Text under picture is a table with informations -->
			<table>
				<tr>
				
					<!-- Title of columns -->
					<th>Allgemeines</th>
					<th>Erste Auftritte</th>
					<th>Shinobi</th>
				</tr>
				<tr>
				
					<!-- Text in columns -->
					<td>Name: Boruto Uzumaki うずまきボルト</td>
					<td>Manga: Kapitel 700</td>
					<td>Ninja-Rang: Genin</td>
				</tr>
				<tr>
					<td>Geburtstag: 27. März</td>
					<td>Anime: Episode 1 (Boruto)</td>
					<td>Meister: Konohamaru Sarutobi, Sasuke Uchiha</td>
				</tr>
				<tr>
					<td>Geschlecht: männlich</td>
					<td>Film: 7. Shippuuden Film</td>
					<td>Waffen: Chakura Tou, Jutsu-Absorptions-Arm, Kote</td>
				</tr>
				<tr>
					<td>Status: lebend</td>
					<td>Spiel: Naruto Shippuuden: Ultimate Ninja Storm 4</td>
					<td>Fähigkeit: Jougan</td>
				</tr>
				<tr>
					<td>Dorf/Land: Konohagakure</td>
					<td></td>
					<td>Elemente: Fuuton, Raiton, Suiton</td>
				</tr>
				<tr>
					<td>Familie: Naruto Uzumaki (Vater), Hinata Hyuuga (Mutter),
						Himawari Uzumaki (Schwester)</td>
					<td></td>
					<td>Ninja-Rang: Genin</td>
				</tr>
			</table>
		</div>

		<div class="charSlides fade">
			<h2>&#10023; Mitsuki &#10023;</h2>
			<div class="numbertext">Seite 2 / 5</div>
			<img src="/pictures/Mitsuki_Icon.png"> <br> <br>
			<table>
				<tr>
					<th>Allgemeines</th>
					<th>Erste Auftritte</th>
					<th>Shinobi</th>
				</tr>
				<tr>
					<td>Name: Mitsuki ミツキ</td>
					<td>Manga: Kapitel 700+1 (Naruto Gaiden)</td>
					<td>Ninja-Rang: Genin</td>
				</tr>
				<tr>
					<td>Geburtstag: 25. Juli</td>
					<td>Anime: Episode 4 (Boruto)</td>
					<td>Meister: Konohamaru Sarutobi</td>
				</tr>
				<tr>
					<td>Geschlecht: männlich</td>
					<td>Film: 8. Shippuuden Film</td>
					<td>Waffen: Katana</td>
				</tr>
				<tr>
					<td>Status: lebend</td>
					<td></td>
					<td>Fähigkeit: kann seine Gliedmaßen verlängern, beherrscht
						den Sennin Modus</td>
				</tr>
				<tr>
					<td>Dorf/Land: Konohagakure</td>
					<td></td>
					<td>Elemente: Fuuton, Raiton</td>
				</tr>
				<tr>
					<td>Familie: Orochimaru (Vater; nicht leiblich), Rogu (Bruder;
						künstlich)</td>
					<td></td>
					<td>Ninja-Rang: Genin</td>
				</tr>
			</table>
		</div>

		<div class="charSlides fade">
			<h2>&#10023; Sarada Uchiha &#10023;</h2>
			<div class="numbertext">Seite 3 / 5</div>
			<img src="/pictures/Sarada_Icon.jpg"> <br> <br>
			<table>
				<tr>
					<th>Allgemeines</th>
					<th>Erste Auftritte</th>
					<th>Shinobi</th>
				</tr>
				<tr>
					<td>Name: Sarada Uchiha うちはサラダ</td>
					<td>Manga: Kapitel 700</td>
					<td>Ninja-Rang: Genin</td>
				</tr>
				<tr>
					<td>Geburtstag: 31. März</td>
					<td>Anime: Episode 1 (Boruto)</td>
					<td>Meister: Konohamaru Sarutobi</td>
				</tr>
				<tr>
					<td>Geschlecht: weiblich</td>
					<td>Film: 8. Shippuuden Film</td>
					<td>Waffen: Fuuma-Shuriken, Kemuri Senkoudama</td>
				</tr>
				<tr>
					<td>Status: lebend</td>
					<td>Spiel: Naruto Shippuuden: Ultimate Ninja Storm 4</td>
					<td>Fähigkeit: Sharingan, körperliche Stärke</td>
				</tr>
				<tr>
					<td>Dorf/Land: Konohagakure</td>
					<td></td>
					<td>Elemente: Katon, Raiton, Fuuton</td>
				</tr>
				<tr>
					<td>Familie: Sasuke Uchiha (Vater), Sakura Haruno (Mutter)</td>
					<td></td>
					<td>Ninja-Rang: Genin</td>
				</tr>
			</table>
		</div>

		<div class="charSlides fade">
			<h2>&#10023; Jiraiya &#10023;</h2>
			<div class="numbertext">Seite 4 / 5</div>
			<img src="/pictures/Jiraiya_Icon.png"> <br> <br>
			<table>
				<tr>
					<th>Allgemeines</th>
					<th>Erste Auftritte</th>
					<th>Shinobi</th>
				</tr>
				<tr>
					<td>Name: Jiraiya 自来也</td>
					<td>Manga: Kapitel 90</td>
					<td>Ninja-Rang: Sannin</td>
				</tr>
				<tr>
					<td>Geburtstag: 11. November</td>
					<td>Anime: Episode 52</td>
					<td>Meister: Hiruzen Sarutobi, Fukasaku</td>
				</tr>
				<tr>
					<td>Geschlecht: männlich</td>
					<td>Film: Geheimmission im Land des ewigen Schnees</td>
					<td>Waffen: Ishiken</td>
				</tr>
				<tr>
					<td>Status: verstorben</td>
					<td>Spiel: Naruto: Ultimate Ninja 2</td>
					<td>Fähigkeit: Sennin Modus</td>
				</tr>
				<tr>
					<td>Dorf/Land: Konohagakure</td>
					<td></td>
					<td>Elemente: Katon, Fuuton, Doton, Suiton, Inton, Youton</td>
				</tr>
				<tr>
					<td>Familie: Naruto Uzumaki (Patenkind)</td>
					<td></td>
					<td>Ninja-Rang: Genin</td>
				</tr>
			</table>
		</div>
		<div class="charSlides fade">
			<h2>&#10023; Itachi Uchiha &#10023;</h2>
			<div class="numbertext">Seite 5 / 5</div>
			<img src="/pictures/Itachi_Icon.png"> <br> <br>
			<table>
				<tr>
					<th>Allgemeines</th>
					<th>Erste Auftritte</th>
					<th>Shinobi</th>
				</tr>
				<tr>
					<td>Name: Itachi Uchiha うちはイタチ</td>
					<td>Manga: Kapitel 139</td>
					<td>Ninja-Rang: Nukenin</td>
				</tr>
				<tr>
					<td>Geburtstag: 9. Juni</td>
					<td>Anime: Episode 80</td>
					<td>Waffen: Yata no Kagami</td>
				</tr>
				<tr>
					<td>Geschlecht: männlich</td>
					<td>Film: 6. Shippuuden-Film</td>
					<td>Fähigkeit: Sharingan, Mangekyou Sharingan</td>
				</tr>
				<tr>
					<td>Status: verstorben</td>
					<td>Spiel: Naruto: Ultimate Ninja 2</td>
					<td>Elemente: Katon, Fuuton, Suiton, Inton, Youton</td>
				</tr>
				<tr>
					<td>Dorf/Land: Konohagakure</td>
					<td></td>
					<td>Ring: 朱 - Shu (Zinnoberrot)</td>
				</tr>
				<tr>
					<td>Familie: Fugaku Uchiha (Vater), Mikoto Uchiha (Mutter),
						Sasuke Uchiha (Bruder)</td>
					<td></td>
					<td>Ninja-Rang: Jonin mit 11 Jahren</td>
				</tr>
			</table>
		</div>
		<br>
		<!-- Next and previous buttons.
		When clicking on them the parameter is given to the function -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		<br>

		<!-- The dots/circles -->
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<script src="/javascript/slides.js"></script>
</div>
<br>
<br>
</body>
<footer>

	<!-- When clicking on button, you get to the index page -->
	<button onclick="document.location='/Index'">
		Home</a>
	</button>
</footer>
</html>
