<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<head>
<link rel="stylesheet" href="/css/Stylesheet-Home.css">
<title>Naruto/Boruto</title>
<div class="header">
	<h1>
		<mark>NARUTO/BORUTO</mark>
		<br>_______________
	</h1>
	<h3>Pinnwand | Test | Charaktere + Bilder</h3>
</div>

</head>
<body></body>

<!-- Contains the navigation elements -->
<div class="container">
	<footer>
		<div class="footer">
			<navtext>NAVIGATION</navtext>
		</div>
	</footer>
	<div class="overlay">
		<div class="navigation">
			<div class="wordspace">

				<!-- When clicking on navigation text, user gets redirected to page -->
				<a href="/Forum_List">Pinnwand | </a> <a href="/Test"> Test | </a> <a
					href="/Characters"> Charaktere 
			</div>
		</div>
	</div>
</div>

</html>